/*Nav Bar*/
.nav li{
  float:left;
  margin-top: 22px;
  margin-left: 30px;
  margin-right: 15px;

}

.title{
  float: left;
  font-family: 'Bree Serif', serif;
  margin-left: 15px;
}

.nav_list{
  float:right;
}

/*Main Home Page*/

.Lifting{
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;

}
.Lifting img{
  margin-top: 10%;


}
.top {
  font-size: 200%;
}

.bottom{
  font-size: 150%;
}

/*Login*/
h2{
  text-align: center;
}
.login{
  text-align:center;
}
.btn{
  margin-top: 5px;
}

/*/Signup*/

.signup{
  text-align: center;
}

/*Show Workout Page*/




/*Show All Workout Page*/

#add_workout_btn{
  margin-left: 45px;
  float:right;
}

.container{
  margin-right: 30%;
  float: right;
  width: 200px;
}
.first_quote{
  margin-left: 10%;
}


/*
//Show One Workout*/

.edit_workout_form{
  margin-left: 10%;
}
.Exercise_List{
  text-align: left;
  margin-left: 35px;
}

.Workout_Date{
  text-align: left;
}
h3{
  text-align: left;
}

.exercise_info{
  display: inline-block

}

.weight_add_button{
  margin-left: 35px;
}

.create_workout_box{
  text-align: center;
}

.Add_workout_btn{
  margin-top: 10px;
}

.create_form_box{
  text-align: center;
}

.add_btn {
  margin-top: 10px;
}

/*Show one workout page and show all exercise page*/
