
<div ng-controller="WeightController as lift" class=create_form_box>
  <h2> What did I do? </h2>
  <form ng-submit="lift.createWeight(workout.id, lift)">
    <label> Exercise Name </label><br>
    <input name="exercise_name" type="text" ng-model="lift.exercise_name"><br>
    <label> Sets </label><br>
    <input name="set" type="integer" ng-model="lift.set"><br>
    <label> Reps </label><br>
    <input name="rep" type="integer" ng-model="lift.rep"><br>
    <label> Weight (in lbs) </label><br>
    <input name="weight" type="text" ng-model="lift.weight"><br>

    <button class="add_btn btn-primary" type="submit"> Add Exercise </button>
  </form>
</div>
