<div ng-controller="WorkoutController as work">
<div ng-controller="WeightController as lift" class="">
  <form ng-submit="lift.newExercise(mass)">
    <label> Exercise Name </label>
    <input name="exercise_name" type="text" ng-model="lift.exercise_name">
    <label> Sets </label>
    <input name="set" type="integer" ng-model="lift.set">
    <label> Reps </label>
    <input name="rep" type="integer" ng-model="lift.rep">
    <label> Weight (in lbs) </label>
    <input name="weight" type="text" ng-model="lift.weight">

    <button type="submit"> Add Workout </button>
  </form>
</div>
</div>
