<h2> Log In  </h2>
<div ng-controller="AuthController as auth" class="login">
  <form ng-submit="auth.login(user)" class="form_box">
    <div class="input">
      <label><b> Email </b></label>
      <input type="text" ng-model="user.email" placeholder="Enter Email" required>
    </div>
    <div class="input">
      <label><b> Password </b></label>
      <input type="text" ng-model="user.password" placeholder="Enter Password" required>
    </div>
    <div>
      <button type="submit"> Log In </button>
    </div>
  </form>
</div>
